

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNew</title>
</head>
<body>
    <div>
        <form action="~/Home/AddNew" method="post">
            姓名：  <input type="text" name="name" />
            年龄：<input type="text" name="age" />
            提交：<input type="submit" />
        </form>
    </div>
</body>
</html>
